.container {
    display: flex;
    justify-content: center;
    width: 55%;
  }
  .container:hover {
    transition: all 0.5s ease-in;
    box-shadow: 3px 2px 33.33px lightslategray;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }